.formcomponent-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #323232;
  margin-top: 40px;
  margin-bottom: 12px;
}

.input_group {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  margin-bottom: 0px !important;
}

label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
  margin-top: 24px;
  color: #323232;
}

.input_field_main {
  width: 100%;
  height: 48px;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 3px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

/* .input_field_date::after {
  content: "sssss";
} */
.date_icon {
  position: absolute;
  bottom: 12px;
  right: 28px;
}

.input_field_additional {
  resize: none;
  height: 145px !important;
  font-size: 1rem !important;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 11px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

.gradient-border-trick {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0px !important;
  background: linear-gradient(98.3deg, #93e08c -1.93%, #78cebf 97.03%);
  border: 0px solid white;
  border-radius: 3px;
}

.input_field_main:focus,
.input_field_additional:focus {
  box-shadow: inset 0 0px 0 transparent;
  border: 1px solid transparent;
}

.submit_button {
  width: 192px;
  height: 42px;
  background: linear-gradient(98.3deg, #93e08c -1.93%, #78cebf 97.03%);
  border: 0px solid transparent;
  border-radius: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 76px;
}

.gdpr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gdpr_label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #323232;
  margin: 0;
  padding-left: 36px;
}
.gdpr_label a {
  color: #479c3f;
}

.checkbox {
  margin-top: 4px;
}

.checkbox input {
  position: relative;
  opacity: 0;
  padding-left: 15px;
}

.checkbox .overlay {
  position: absolute;
  top: 13px;
  left: 13px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #c9c9c9;
  padding-left: 15px;
}

.checkbox .overlay .icon {
  color: white;
  display: none;
}

.checkbox input:checked ~ .overlay {
  padding-top: 3px;
  padding-left: 2px;
  transform: rotate(0deg);
  opacity: 1;
  border: 1px solid #c9c9c9;
}

.checkbox input:focus ~ .overlay {
  padding-top: 3px;
  padding-left: 2px;
  transform: rotate(0deg);
  opacity: 1;
  border: 1px solid #78cebf;
}


.checkbox input:checked ~ .overlay .icon {
  display: block;
}