.control-dots {
  position: relative;
  min-width: 100%;
  top: 58px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.control-dots li {
  list-style: none;
  display: inline;
  cursor: pointer;
  margin: 0 12px;
  padding: 0;
}

.control-dots li button {
  border: none;
  padding: 0px;
  background: #c9c9c9;
  color: transparent;
  cursor: pointer;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.control-dots li.slick-active button {
  background: linear-gradient(91.83deg, #93e08c -1.93%, #78cebf 97.03%);
  outline: 0;
}

.control-dots li button:focus,
.control-dots li button:hover {
  outline: 0px !important;
}

.arrow-back,
.arrow-next {
  color: #c9c9c9;
  font-size: 32px;
  margin-top: 24px;
}
.arrow-back:hover,
.arrow-next:hover,
.arrow-back:active,
.arrow-next:active {
  background: linear-gradient(91.82deg, #93e08c -1.93%, #78cebf 97.03%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Hiding arrows on mobile screen */
@media screen and (max-width: 768px) {
  .arrow-back,
  .arrow-next {
    visibility: hidden;
  }
}
#dots_overlay {
  z-index: -1;
}
.dots {
  top: 24px;
  background-color: transparent;
}
.dots ul {
  margin: 0;
  padding-inline-start: 0;
}
.dots ul li {
  margin: 0 12px;
}
.dot {
  color: #c9c9c9;
  font-size: 12px;
}
